footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  color: #fff;
  background: #196250;
}
footer .phone,
footer .mail {
  color: #fff;
}
footer .mail {
  margin: 15px 0;
}
footer .list-maps {
  padding: 0;
}
footer .list-maps li {
  margin: 15px 0 0;
}
footer .list-maps-links__icon {
  width: 20px;
  height: 20px;
  padding: 3px;
}
footer .schedule-box__icon {
  width: 20px;
  height: 20px;
}
footer .schedule-box__text {
  max-width: 122px;
}

.footer-top {
  padding: 50px 0 40px;
}

.description-company {
  margin: 10px 0 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  line-height: 145%;
  max-width: 232px;
}

.footer-menu {
  font-size: 15px;
  letter-spacing: 0.02em;
  margin: 0 0 0 auto;
}
.footer-menu:first-child {
  margin: 0;
}
.footer-menu li {
  margin: 0 0 15px 0;
}
.footer-menu li a {
  color: #fff;
}

.footer-box {
  margin: 0 0 0 auto;
  font-size: 15px;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-bottom {
  padding: 15px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.copyright {
  margin: 0 0 0 40px;
}

.btn-top-scroll {
  position: fixed;
  z-index: 5;
  bottom: 20px;
  right: -100%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 15px;
  background: #15473c;
  fill: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s ease;
}

.btn-top-scroll .svg-icon {
  transform: rotate(270deg);
}

.btn-top-scroll:hover {
  background: #8fba44;
}
