.page-product h1 {
  font-weight: 900;
  color: #2f5048;
  margin: 0;
  width: fit-content;
}

.product-information {
  background: #fff;
  width: 100%;
  margin: 10px 0 0;
  -webkit-box-shadow: 0 4px 30px rgba(0, 49, 95, 0.11);
  box-shadow: 0 4px 30px rgba(0, 49, 95, 0.11);
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.product-information .list-characteristics {
  width: 100%;
}

.product-information .list-characteristics .list-characteristics-view {
  margin-left: auto;
  background: transparent;
  height: auto;
}

.product-information:last-child {
  margin: 0;
}
.product-information h3 {
  font-size: 18px;
  font-weight: 900;
  color: #2f5048;
  margin: 0 0 15px;
  width: 100%;
}

.view-product {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.view-product__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px 0 0;
  width: 20px;
  min-width: 20px;
  height: 12px;
  fill: #b7beca;
}

.view-product strong {
  margin-left: 5px;
}

.carvertical-logo {
  text-transform: uppercase;
  color: #00c0e8;
  font-size: 18px;
  font-weight: 900;
  display: inline-block;
}

.carvertical-wrapper {
  color: #fff;
  margin: 20px 0 0;
  background: #196250;
  border: 1px solid #e1e4e8;
  box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
  border-radius: 6px;
  padding: 40px 50px;
  position: relative;
  z-index: 1;
}

.carvertical-wrapper__decor {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
}

.carvertical-wrapper__decor::before {
  content: "";
  position: absolute;
  background: #80ff00;
  mix-blend-mode: screen;
  filter: blur(125px);
  width: 509px;
  height: 509px;
  border-radius: 50%;
  overflow: hidden;
  left: 50%;
  bottom: -450px;
  transform: translate(-50%, 0);
}

.carvertical-wrapper__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 900;
}

.carvertical-wrapper .form-callback {
  margin: 0;
}

.carvertical-wrapper .form-callback label,
.carvertical-wrapper .form-callback button {
  max-width: 307px;
  min-width: 307px;
}

.carvertical-wrapper .form-callback .checkbox {
  max-width: none;
  font-size: 12px;
  margin-right: 0;
}

.calculate-box {
  margin: 10px 0;
  padding: 30px;
}

.price-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: #2a2d28;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  background: #fff;
  border: 1px solid #e1e4e8;
  box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
  border-radius: 6px;
  padding: 10px 5px 9px 15px;
  width: 100%;
}
.price-product p {
  margin: 0 8px 0 0;
}

.old-price {
  margin: 0 0 0 10px;
  color: #6f6f6f;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.new-price {
  color: #ff0f00;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  margin: 0 0 -4px 5px;
}

.calculate-box p {
  color: #000;
}

.calculate-box .range_val {
  margin: 0 0 24px;
  width: 100%;
}
.calculate-box .range_val label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 19px;
}
.calculate-box .range_val label input {
  padding: 0;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: right;
  border: none;
  border-radius: 0;
  color: #8fba44;
  font-size: 16px;
  font-weight: 700;
  max-width: 40%;
}

.payment-month {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.payment-month__val {
  width: 68px;
  height: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
  box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  color: #000000;
  background: #fff;
  margin: 0 7px 0 auto;
}

.conditions {
  background: #196250;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
.conditions .box-text {
  text-align: center;
  color: #fff;
  margin: 0 auto 20px;
  line-height: 135%;
}
.conditions h3 {
  text-align: center;
  margin: 0 auto 14px;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}
.conditions .form label {
  max-width: 100%;
}
.conditions .form button {
  margin: 12px 0 0;
  width: 100%;
}
.conditions .callback-image {
  display: none;
}

.conditions-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 30px;
  border-radius: 6px;
}
.conditions-wrapper:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -175px;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #80ff00;
  width: 270px;
  height: 270px;
  -webkit-filter: blur(250px);
  filter: blur(125px);
  z-index: -1;
  mix-blend-mode: screen;
}

.conditions-wrapper .checkbox {
  margin: 12px 0 0;
  font-size: 10px;
}

.nav-tabs-conditions {
  width: 100%;
  display: flex;
  align-items: stretch;
  background: #224039;
  border-radius: 6px 6px 0 0;
  font-size: 14px;
  font-weight: 900;
}

.nav-tabs-conditions .nav-item {
  flex: 1;
}

.nav-tabs-conditions .nav-link {
  color: #fff;
  padding: 13px;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 6px 6px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
	position: relative;
	z-index: 1;
}

.nav-tabs-conditions .nav-link.active {
  background: #196250;
}

.nav-tabs-conditions-v2 {
  border-bottom: 1px solid #217c66;
  background: #196250;
  position: relative;
}

.nav-tabs-conditions-v2 .nav-item:first-child .nav-link:after {
	content: '';
  position: absolute;
  background: #8fba44;
  border-radius: 50px;
  width: 57px;
  min-width: 57px;
  height: 30px;
  margin: auto 0;
  padding: 0 3px;
	top: 50%;
	transform: translate(0,-50%);
	right: -27.5px;
}

.nav-tabs-conditions-v2 .nav-item:first-child .nav-link::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  top: 50%;
  right: -23px;
  transform: translate(0, -50%) rotate(180deg);
  background: url("../img/toggle-arrow.svg") no-repeat center;
  background-size: 100%;
	z-index: 1;
	transition: .3s ease;
}

.nav-tabs-conditions-v2 .nav-item:first-child .nav-link.active::before {
	right: 2px;
	transform: translate(0, -50%);
}

.nav-tabs-conditions-v2 .nav-item .nav-link {
  border-radius: 6px 0 0 0;
  position: relative;
}

.nav-tabs-conditions-v2 .nav-item .nav-link span {
  max-width: 95px;
}

.nav-tabs-conditions-v2 .nav-item:last-child .nav-link {
  border-radius: 0 6px 0 0;
}

.nav-tabs-conditions-v2 .nav-link.active {
  background: linear-gradient(
    90deg,
    rgba(143, 186, 68, 0.6) 0%,
    rgba(143, 186, 68, 0) 100%
  );
}

.nav-tabs-conditions-v2 .nav-item:last-child .nav-link.active {
  background: linear-gradient(
    -90deg,
    rgba(143, 186, 68, 0.6) 0%,
    rgba(143, 186, 68, 0) 100%
  );
}

.leasing-prices {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0;
  background: #196250;
  border-radius: 6px;
  color: #fff;
  padding: 22px 10px;
}

.leasing-prices span {
  color: #ffa800;
  font-size: 24px;
  font-weight: bold;
}

.leasing-prices__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 15px 0 0;
}

.leasing-prices .btn {
  padding: 10px 34px;
  width: fit-content;
}

.product-gallery-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  height: 474px;
  border-radius: 6px;
}
.product-gallery-item img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.link-download {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: rgba(42, 45, 40, 1);
}

.link-download:hover {
  color: rgba(42, 45, 40, 1);
}

.link-download__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 6px 0 0;
  width: 24px;
  min-width: 24px;
}

.link-download strong {
  text-transform: uppercase;
  font-weight: 800;
  color: #00c0e8;
}

.link-download strong .color-orange {
  color: rgba(255, 168, 0, 1);
}

.product-gallery-wrapper .product-information {
  padding: 15px 20px 11px;
}

.product-gallery-wrapper .list-maps-links__icon {
  width: 20px;
  height: 20px;
}

.product-gallery-wrapper .list-maps-links__text {
  width: calc(100% - 20px);
}

.product-gallery-wrapper .product-characteristics {
  padding: 23px 20px 10px;
}

.product-gallery-wrapper .page-product-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-gallery-wrapper .page-product-box .footer-box {
  width: 29%;
  margin: 0 0 9px;
}

.product-gallery-wrapper .page-product-box .footer-box:nth-child(2),
.product-gallery-wrapper .page-product-box .footer-box:nth-child(5) {
  width: 41%;
}

.product-gallery-wrapper .page-product-box .footer-box:nth-child(3),
.product-gallery-wrapper .page-product-box .footer-box:nth-child(6) {
  width: 30%;
}

.product-gallery-wrapper .page-product-box .footer-box a,
.product-gallery-wrapper .page-product-box .footer-box .address,
.product-gallery-wrapper .page-product-box .footer-box .list-maps li {
  margin: 0;
}

.product-gallery-wrapper {
  width: 100%;
  /* margin: 20px 0 0; */
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-gallery {
  z-index: 2;
  width: calc(100% - 110px);
  padding: 0 8px 0 0;
}

.product-gallery-preview {
  /* padding: 0 46px; */
  /* margin: 10px 0 0; */
  max-width: 110px;
}
.product-gallery-preview .product-gallery-item {
  height: 88px;
  width: 100%;
  border: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  margin: 0 auto 6px;
  border: none;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 1;
  opacity: 1;
  width: 40px;
  height: 70px;
  background: #d1d6df;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.slick-arrow:before {
  display: none;
}
.slick-arrow svg {
  width: 11px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  stroke: #ffffff;
  fill: none;
}
.slick-arrow:hover {
  background: #8fba44;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.product-gallery-wrapper .slick-arrow {
  top: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 20px;
  height: 20px;
  background: #8fba44;
  border-radius: 50%;
}

.product-gallery-wrapper .slick-arrow svg {
  stroke: #ffffff;
  fill: none;
  transform: rotate(90deg);
  width: 12px;
  height: 8px;
}

.product-gallery-wrapper .slick-prev {
  top: -10px;
}

.product-gallery-wrapper .slick-next {
  bottom: -6px;
}

.btn-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 10px;
  font-weight: bold;
  line-height: 145%;
}
.btn-play__icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  fill: #fff;
  margin: 0 auto;
}

.video-box:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(42, 45, 40, 0.6)),
    to(rgba(42, 45, 40, 0.6))
  );
  background: linear-gradient(
    0deg,
    rgba(42, 45, 40, 0.6),
    rgba(42, 45, 40, 0.6)
  );
  border-radius: 6px;
}

.video-box .btn-play {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.product-characteristics {
  background: #fff;
  width: 100%;
  padding: 40px 30px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
  box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  margin: 10px 0 0;
}

.page-product-box {
  margin: 0 0 40px;
}
.page-product-box:last-child {
  margin: 0;
}
.page-product-box__head {
  width: 100%;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 20px 15px;
}
.page-product-box__body {
  width: 100%;
  padding: 20px;
}
.page-product-box__body .box-text p {
  margin: 0;
}
.page-product-box h3 {
  font-size: 16px;
  font-weight: 900;
  color: #2f5048;
}
.page-product-box h4 {
  color: #2f5048;
  font-weight: 600;
  margin: 0 0 15px;
}
.page-product-box ul {
  margin: 0 0 30px;
}
.page-product-box ul:last-child {
  margin: 0;
}
.page-product-box .footer-box ul {
  padding: 0;
}
.page-product-box .footer-box .phone,
.page-product-box .footer-box .address {
  margin: 0 0 20px;
}

.characteristics-wrap {
  width: 100%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.page-product-box__item {
  margin: 0 0 20px;
}
.page-product-box__item:last-child {
  margin: 0;
}

.list-checked li {
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;*/
}
.list-checked li:last-child {
  margin: 0;
}
.list-checked li:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 3px 10px 0 0;
  width: 15px;
  height: 11px;
  min-width: 15px;
  background: url("../img/check.svg") no-repeat center;
  background-size: 100%;
}

.list-characteristics-product {
  width: 100%;
  font-size: 14px;
  line-height: 145%;
}
.list-characteristics-product li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 0 0 5px;
}
.list-characteristics-product li:last-child {
  margin: 0;
}
.list-characteristics-product li:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #848484;
}
.list-characteristics-product li span {
  white-space: nowrap;
  color: #2a2d28;
  display: inline-block;
  position: relative;
  padding: 0 0 0 5px;
  background: #fff;
  min-width: 233px;
  margin-left: auto;
}
.list-characteristics-product li p {
  background: #fff;
  padding: 0 5px 0 0;
  position: relative;
  z-index: 1;
  color: #848484;
}

.recommended-section {
  padding: 80px 0 60px;
}
.recommended-section h2 {
  margin: 0 0 40px;
}

.btn-sales {
  margin: 0 auto 10px;
}
