.page-catalog {
  padding: 0 0 60px; }

.form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0; }
  .form-group label {
    margin: 0 0 10px;
    width: calc(50% - 5px); }
    .form-group label input {
      text-align: center;
      color: #2A2D28;
      padding: 0 5px; }
      .form-group label input::-webkit-input-placeholder {
        color: #2A2D28; }
      .form-group label input::-moz-placeholder {
        color: #2A2D28; }
      .form-group label input::-ms-input-placeholder {
        color: #2A2D28; }
      .form-group label input::placeholder {
        color: #2A2D28; }

.sidebar {
  max-width: 290px;
  width: 100%;
  background: #fff;
  border: 1px solid #E1E4E8;
    border-radius: 6px;
  padding: 20px 15px;
  -webkit-filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11));
          filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11)); }
  .sidebar h2 {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 20px;
    color: #2F5048; }

.sidebar-box {
  width: 100%;
  margin: 0 0 20px; }
  .sidebar-box h4 {
    margin: 0 0 10px;
    color: #2F5048;
    font-size: 18px;
    font-weight: bold;
    width: 100%; }
  .sidebar-box label {
    position: relative;
    margin: 0; }
    .sidebar-box label input {
      height: 40px; }
  .sidebar-box .ui-widget.ui-widget-content {
    background: #DBDBDB;
    margin: 0 auto 0;
    height: 3px;
    border: none; }
  .sidebar-box .ui-slider .ui-slider-range {
    height: 3px; }
  .sidebar-box .ui-state-default, .sidebar-box .ui-widget-content .ui-state-default, .sidebar-box .ui-widget-header .ui-state-default, .sidebar-box .ui-button, .sidebar-box html .ui-button.ui-state-disabled:hover, .sidebar-box html .ui-button.ui-state-disabled:active {
    width: 20px;
    height: 20px;
    top: -8px;
    border-width: 4px; }
  .sidebar-box:last-child {
    margin: 0; }

.range_val .form-group label {
  margin: 0 0 20px; }

.clear-filter {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F68B0D;
  margin: 20px auto 0; }
  .clear-filter:hover {
    color: #2F5048; }

.catalog-top {
  -webkit-filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11));
          filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11));
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 28px;
  border: 1px solid #E1E4E8;
    border-radius: 6px;
  padding: 15px 20px; }

.sorting-box {
  color: #848484;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 0 0; }
  .sorting-box p {
    margin: 0 10px 0 0; }

.select-sorting {
  padding: 0 42px 0 0;
  border: none;
  background: transparent url("../img/arrow-select.svg") no-repeat right center;
    background-size: 12px;
  height: auto;
  color: #2A2D28;
  font-size: 14px;
  font-weight: normal; }

.label-select {
  position: relative;
  margin: 0; }

.total-val-result {
  font-size: 14px;
  text-align: right; }

.nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 30px 0 auto;
  border: none; }
  .nav-tabs li {
    margin: 0 10px 0 0; }
    .nav-tabs li:last-child {
      margin: 0; }
  .nav-tabs .nav-link {
    padding: 0;
    width: 19px;
    height: 19px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
      border-radius: 0;
    margin: 0;
    fill: #D9D9D9; }
    .nav-tabs .nav-link.active {
      fill: #A6A6A6; }

.catalog-mobile-nav {
  width: 100%;
  display: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 0 5px;
  padding: 5px;
  background: #fff;
  border: 1px solid #E1E4E8;
    border-radius: 5px;
  -webkit-filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11));
          filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11)); }

.btn-catalog {
  width: 50%;
  border-right: 1px solid #E1E4E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2A2D28;
  font-size: 14px;
  cursor: pointer;
  padding: 7px 19px; }
  .btn-catalog__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    fill: #8FBA44;
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0; }
  .btn-catalog:last-child {
    border: none; }

.sidebar-close {
  width: 20px;
  height: 20px;
  stroke: #196250;
  margin: 0 0 20px auto;
  cursor: pointer;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mobile-sorting {
  left: 0;
  top: 0;
  padding: 20px;
  background: #fff;
  overflow-y: auto;
  height: 100%;
  max-width: 290px;
  -webkit-filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11));
          filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11)); }
  .mobile-sorting .sidebar-title h3 {
    font-size: 21px;
    font-weight: 600;
    color: #2A2D28; }

.sorting-links {
  color: #656871;
  padding: 5px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  width: 100%; }
  .sorting-links:hover {
    color: #8FBA44; }
  .sorting-links.active:after {
    content: '';
    margin: 0 0 0 auto;
    width: 20px;
    height: 20px;
    background: url("../img/checkbox-accent.svg") no-repeat center;
    background-size: contain;
    min-width: 20px; }
