header {
  background: #fff; }
  header .form-search {
    margin: 0 auto; }
  header .mail {
    margin: 0 auto; }

.header-top {
  padding: 10px 0; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 173px;
  width: 100%; }
  .logo img {
    width: 100%; }

.form-search {
  width: 100%;
  position: relative;
  max-width: 452px; }
  .form-search label {
    margin: 0; }
  .form-search input {
    border: 1px solid #B0B0B0;
      border-radius: 6px;
    background: #fff;
    height: 40px;
    padding: 0 110px 0 43px;
    font-size: 16px;
    color: #2F5048; }
    .form-search input::-webkit-input-placeholder {
      color: #303030; }
    .form-search input::-moz-placeholder {
      color: #303030; }
    .form-search input::-ms-input-placeholder {
      color: #303030; }
    .form-search input::placeholder {
      color: #303030; }
  .form-search button {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    max-width: 110px;
    width: 100%; }

.input-icon-search {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
  top: 12px;
  fill: #848484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.dropdown-language {
  margin: 0 auto; }

.schedule-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px; }
  .schedule-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 16px;
    height: 16px;
    fill: #8FBA44;
    margin: 0 10px 0 0; }

.phone, .mail {
  color: #2A2D28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .phone-icon, .mail-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin: 0 10px 0 0;
    fill: #8FBA44; }
  .phone:hover, .mail:hover {
    color: #8FBA44; }

.mail {
  font-size: 14px; }

.header-box {
  margin: 0 0 0 40px; }

.list-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px; }
  .list-language li {
    margin: 0 10px 0 0; }
    .list-language li:last-child {
      margin: 0; }
    .list-language li a {
      color: #2A2D28;
      padding: 3px 10px;
      position: relative;
      width: 54px;
      height: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: 1px solid #E0E0E0;
        border-radius: 3px; }
      .list-language li a:hover {
        color: #2A2D28;
        border-color: #8FBA44; }
    .list-language li .active {
      color: #2A2D28;
      border-color: #8FBA44; }

.header-bottom {
  width: 100%;
  border-top: 1px solid #E0E0E0; }

.nav-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .nav-menu .logo, .nav-menu .header-box, .nav-menu .schedule-box {
    display: none;
    font-size: 16px; }
  .nav-menu .mail {
    font-size: 16px; }
  .nav-menu .schedule-box__text {
    white-space: nowrap;
    max-width: none; }
  .nav-menu .schedule-box__icon {
    width: 20px;
    height: 20px; }
  .nav-menu__close {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer; }
    .nav-menu__close:before, .nav-menu__close:after {
      content: '';
      position: absolute;
      background: #848484;
      width: 1px;
      height: 100%; }
    .nav-menu__close:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .nav-menu__close:after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }

.language-box {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px; }
  .language-box p {
    margin: 0 10px 0 0; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #303030;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  letter-spacing: 0.02em;
  font-size: 16px;
  position: relative; }
  .menu li {
    position: initial; }
    .menu li > a {
      color: #303030;
      position: relative;
      padding: 15px 0; }
      .menu li > a:hover {
        color: #8FBA44; }
  .menu .dropdown-menu {
    left: 0 !important;
    -webkit-transform: none;
            transform: none;
    padding: 26px 48px; }
    .menu .dropdown-menu__wrapper {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

.dropdown-box__title {
  margin: 0 0 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: #2F5048;
  letter-spacing: 0.02em; }

.dropdown-menu-list {
  font-size: 14px;
  padding: 0; }
  .dropdown-menu-list li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 0 12px; }
    .dropdown-menu-list li:before {
      width: 8px;
      min-width: 8px;
      height: 8px;
      margin: 5px 7px 0 0; }
    .dropdown-menu-list li a {
      padding: 0; }

.check-possibilities {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
          box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
  border-radius: 6px;
  z-index: 1;
  padding: 35px 19px;
  max-width: 280px;
  width: 100%;
  text-align: center;
  color: #fff; }
  .check-possibilities__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1; }
  .check-possibilities__title {
    font-weight: 900;
    margin: 0 auto 20px;
    line-height: 20px; }
  .check-possibilities .btn {
    max-width: 190px;
    width: 100%;
    margin: 0 auto;
    height: 50px; }
  .check-possibilities:before {
    content: '';
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    mix-blend-mode: screen;
    -webkit-filter: blur(170px);
            filter: blur(170px);
    background: #80FF00;
    width: 231px;
    height: 213px;
    right: 0;
    top: -116px; }
  .check-possibilities:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 98, 80, 0.8);
    z-index: -1; }

.overlay-mobile {
  z-index: 4;
  width: 100%;
  background: rgba(42, 45, 40, 0.4);
  height: 100%;
  display: none;
  left: 0;
  bottom: 0;
  position: fixed; }

.btn-burger {
  display: none;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 26px;
  height: 16px;
  cursor: pointer;
  margin: 0 0 0 22px; }
  .btn-burger span {
    width: 100%;
    height: 3px;
    background: #8FBA44;
    border-radius: 3px;
    display: block; }
    .btn-burger span:last-child {
      width: 80%; }
