.page-product h1 {
  font-size: 24px;
  font-weight: 900;
  color: #2F5048;
  margin: 0 0 15px; }

.product-information {
  background: #fff;
  margin: 0 0 10px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 49, 95, 0.11);
          box-shadow: 0 4px 30px rgba(0, 49, 95, 0.11);
  border: 1px solid #E1E4E8;
    border-radius: 6px;
  padding: 30px; }
  .product-information:last-child {
    margin: 0; }
  .product-information h3 {
    font-size: 18px;
    font-weight: 900;
    color: #2F5048;
    margin: 0 0 15px; }

.price-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0 15px;
  color: #2A2D28;
  font-size: 16px;
  line-height: 20px; }
  .price-product p {
    margin: 0 8px 0 0; }

.old-price {
  margin: 0 8px 0 0;
  color: #B0B0B0;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through; }

.new-price {
  color: #FF0F00;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px; }

.calculate-box p {
  color: #000; }

.calculate-box .range_val {
  margin: 0 0 24px; }
  .calculate-box .range_val label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 19px; }
    .calculate-box .range_val label input {
      padding: 0;
      height: auto;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      text-align: right;
      border: none;
        border-radius: 0;
      color: #8FBA44;
      font-size: 16px;
      font-weight: 700;
      max-width: 40%; }

.payment-month {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000; }

.payment-month__val {
  width: 68px;
  height: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
          box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
  border: 1px solid #E1E4E8;
    border-radius: 6px;
  color: #000000;
  background: #fff;
  margin: 0 7px 0 auto; }

.conditions {
  background: #196250;
  border-radius: 6px;
  position: relative;
  z-index: 1; }
  .conditions .box-text {
    text-align: center;
    color: #fff;
    margin: 0 auto 20px;
    line-height: 135%; }
  .conditions h3 {
    text-align: center;
    margin: 0 auto 10px;
    font-size: 18px;
    font-weight: 900;
    color: #fff; }
  .conditions .form label {
    max-width: 100%; }
  .conditions .form button {
    margin: 5px 0 0;
    width: 100%; }
  .conditions .callback-image {
    display: none; }

.conditions-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  padding: 30px;
  border-radius: 6px; }
  .conditions-wrapper:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -135px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: #80FF00;
    width: 270px;
    height: 270px;
    -webkit-filter: blur(250px);
            filter: blur(250px);
    z-index: -1;
    mix-blend-mode: screen; }

.product-gallery-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  height: 500px;
  border-radius: 6px; }
  .product-gallery-item img {
    max-height: 100%;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.product-gallery-wrapper {
  width: 100%; }

.product-gallery {
  z-index: 2; }

.product-gallery-preview {
  padding: 0 46px;
  margin: 10px 0 0; }
  .product-gallery-preview .product-gallery-item {
    height: 70px;
    max-width: 105px;
    width: 100%;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    cursor: pointer;
    margin: 0 auto;
    border: none;
      border-radius: 6px;
    overflow: hidden;
    position: relative; }

.slick-slide {
  outline: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  z-index: 1;
  opacity: 1;
  width: 40px;
  height: 70px;
  background: #D1D6DF;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slick-arrow:before {
    display: none; }
  .slick-arrow svg {
    width: 11px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    stroke: #FFFFFF;
    fill: none; }
  .slick-arrow:hover {
    background: #8FBA44; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.btn-play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  font-weight: bold;
  line-height: 145%; }
  .btn-play__icon {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    fill: #fff;
    margin: 0 auto; }

.video-box:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(42, 45, 40, 0.6)), to(rgba(42, 45, 40, 0.6)));
  background: linear-gradient(0deg, rgba(42, 45, 40, 0.6), rgba(42, 45, 40, 0.6));
  border-radius: 6px; }

.video-box .btn-play {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.product-characteristics {
  background: #fff;
  padding: 40px 30px;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
          box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11);
  border: 1px solid #E1E4E8;
    border-radius: 6px;
  margin: 40px 0 0; }

.page-product-box {
  margin: 0 0 40px; }
  .page-product-box:last-child {
    margin: 0; }
  .page-product-box__head {
    width: 100%;
    border-bottom: 1px solid #DBDBDB;
    padding: 0 20px 15px; }
  .page-product-box__body {
    width: 100%;
    padding: 20px; }
    .page-product-box__body .box-text p {
      margin: 0; }
  .page-product-box h3 {
    font-size: 16px;
    font-weight: 900;
    color: #2F5048; }
  .page-product-box h4 {
    color: #2F5048;
    font-weight: 600;
    margin: 0 0 15px; }
  .page-product-box ul {
    margin: 0 0 30px; }
    .page-product-box ul:last-child {
      margin: 0; }
  .page-product-box .footer-box ul {
    padding: 0; }
  .page-product-box .footer-box .phone, .page-product-box .footer-box .address {
    margin: 0 0 20px; }

.characteristics-wrap {
  width: 100%;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3; }

.page-product-box__item {
  margin: 0 0 20px; }

.collapsing {
  height: auto;
  overflow: visible; }

.list-checked li {
  margin: 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .list-checked li:last-child {
    margin: 0; }
  .list-checked li:before {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px 0 0;
    width: 20px;
    height: 20px;
    min-width: 20px;
    background: url("../img/check.svg") no-repeat center;
      background-size: 100%; }

.list-characteristics-product {
  width: 100%;
  font-size: 14px;
  line-height: 145%; }
  .list-characteristics-product li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
    margin: 0 0 5px; }
    .list-characteristics-product li:last-child {
      margin: 0; }
    .list-characteristics-product li:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #848484; }
    .list-characteristics-product li span {
      white-space: nowrap;
      color: #2A2D28;
      display: inline-block;
      position: relative;
      padding: 0 0 0 5px;
      background: #fff;
      min-width: 233px;
      margin-left: auto; }
    .list-characteristics-product li p {
      background: #fff;
      padding: 0 5px 0 0;
      position: relative;
      z-index: 1;
      color: #848484; }

.recommended-section {
  padding: 80px 0 60px; }
  .recommended-section h2 {
    margin: 0 0 40px; }

.btn-sales {
  margin: 0 auto 10px; }
