@import "vars"

.page-top
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 20px 0

.links-next
  display: flex
  align-items: center
  color: $accent
  font-weight: 600
  .svg-icon
    fill: $accent
  &:hover
    color: $text

    .svg-icon
      fill: $text

.links-next__icon
  display: flex
  align-items: center
  justify-content: center
  margin: 0 15px 0 0
  width: 17px
  height: 11px

.page-catalog-wrapper
  margin: 37px 0 60px
  display: flex
  align-items: flex-start
  flex-wrap: wrap

.sidebar
  max-width: 270px
  width: 100%
  h3
    font-size: 21px
    font-weight: 600
    color: #2A2D28
  h4
    padding: 0 0 8px 8px
    width: 100%
    color: #2A2D28
    font-size: 13px
    font-weight: bold
    text-transform: uppercase

.catalog-content
  width: calc(100% - 270px)
  padding: 0 0 0 30px
  h3
    width: 100%
    margin: 0 0 12px
    font-size: 21px
    font-weight: 600

.breadcrumbs
  display: flex
  align-items: center
  flex-wrap: wrap
  font-weight: 600
  color: #656871

  li
    a
      color: #B0B0B0
      display: flex
      align-items: center

      &:after
        content: '—'
        display: inline-block
        margin: 0 5px

    span
      display: inline-block
      color: #656871

.clear-filter
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  color: $green
  margin: 15px auto 0
  font-weight: 500
  &:hover
    color: $text
    .svg-icon
      fill: $text

.clear-filter__icon
  fill: $green
  width: 8px
  height: 8px
  display: flex
  align-items: center
  justify-content: center
  margin: 0 6px 0 0

.sidebar-box
  width: 100%
  margin: 0 0 -1px 0
  border: 1px solid #DDE0DC
  background: #fff
  padding: 17px 11px 12px
  label
    position: relative
  .select
    height: 35px
    color: #656871
    font-size: 16px
    font-weight: 500
    padding: 0 21px 0 17px
  .select-arrow
    width: 8px
    height: 8px
    fill: #656871
  .inp-group
    justify-content: space-between
  .inp-group-item
    padding: 9px 11px 7px
    height: 35px
    color: #B0B0B0
    font-size: 15px
    font-weight: 500
    display: flex
    align-items: center
    justify-content: space-between
    width: 48%
    input
      width: calc(100% - 30px)
      font-size: 16px
      font-weight: 500
      text-align: right
      padding: 0
      color: #656871
      &::placeholder
        color: #656871
  .ui-widget.ui-widget-content
    background: #DDE0DC
    margin: 18px auto 0
    height: 3px
  .ui-slider .ui-slider-range
    height: 3px
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
    width: 20px
    height: 20px
    top: -8px
    border-width: 4px

.sidebar-title
  background: #FAFAFA
  padding: 19px 20px 11px

.list-checkbox
  width: 100%
  li
    margin: 0 0 10px
    width: 100%
  .checkbox
    width: 100%
    margin: 0
    color: #656871
    font-size: 16px
    font-weight: 500
  .checkbox-custom
    width: 20px
    height: 20px
    min-width: 20px
    margin: 0 9px 0 0
    background: #F5F5F5
    border: 1px solid #DDE0DC
  .checkbox-inp:checked + .checkbox-custom
    background: #2AB051
    border-color: #2AB051

.links-all
  color: $green
  width: fit-content
  margin: 10px 0 0 29px
  font-size: 15px
  font-weight: 500
  border-bottom: 1px dotted $green
  &:hover
    color: $accent

.panel-heading
  width: 100%
  h4
    padding: 0
  .block_title
    padding: 0 0 0 10px
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    .select-arrow
      position: relative
      right: 0
      top: 0
      transform: none

.block_hover
  display: none
  padding: 10px 0 0

.in
  .block_title
    .select-arrow
      transform: rotate(180deg)

.sorting-line
  width: 100%
  margin: 0 0 28px
  border: 1px solid #DDE0DC
  display: flex
  align-items: center
  flex-wrap: wrap
  background: #FAFAFA
  padding: 12px 40px 12px 42px

.sorting-box
  color: #B0B0B0
  font-weight: 500
  font-size: 16px
  display: flex
  align-items: center
  p
    margin: 0 10px 0 0
  .select
    padding: 0
    border: none
    background: transparent
    height: auto
    color: $text
    font-size: 16px
    font-weight: 500


.label-select
  position: relative
  display: flex
  align-items: center

  .select-arrow
    position: relative
    top: 0
    right: 0
    transform: none
    margin: 0 0 0 15px
    fill: #656871

.list-tabs
  display: flex
  align-items: stretch
  flex-wrap: wrap
  margin: 0 0 0 auto
  li
    margin: 0 10px 0 0
    &:last-child
      margin: 0

.tabs-view-card
  transition: .3s ease
  display: flex
  align-items: center
  justify-content: center
  width: 35px
  height: 35px
  border: 1px solid #DDE0DC
  background: #FAFAFA
  padding: 9px
  fill: #656871

.tabs-view-card.active
  fill: $green
  border-color: $green

.seo-section
  margin: 0 0 80px
  h2
    margin: 0 0 19px
    font-size: 30px
    font-weight: 600
    width: 100%
  .box-text
    color: #656871
    line-height: 150%
    p
      margin: 0 0 20px
      &:last-child
        margin: 0

.brands-slider
  margin: 74px 0 0

.brands-slider__box
  display: flex
  align-items: center
  justify-content: center
  border: 1px solid #DDE0DC
  height: 140px
  max-width: 210px
  margin: 0 30px 0 0
  width: 100%
  padding: 25px
  transition: .3s ease
  cursor: pointer
  img
    transition: .3s ease
    opacity: .2
    filter: grayscale(1)
  &:hover
    border: 1px solid #8FBA44
    img
      filter: grayscale(0)
      opacity: 1

.slick-dots
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 40px auto 0
  li
    transition: .3s ease
    cursor: pointer
    background: #2AB051
    width: 8px
    height: 8px
    margin: 0 15px 0 0
    button
      display: none
  .slick-active
    width: 43px

.brands-slider__group
  display: flex
  align-items: stretch

.catalog-mobile-nav
  width: 100%
  display: none
  align-items: stretch
  margin: 0 0 35px

.mobile-sorting
  left: 0
  top: 0
  padding: 20px
  background: #fff
  overflow-y: auto
  height: 100%
  max-width: 270px
  .sidebar-title
    h3
      font-size: 21px
      font-weight: 600
      color: #2A2D28

.sorting-links
  color: $text
  padding: 5px 0
  position: relative
  display: flex
  align-items: center
  font-weight: 500
  &:hover
    color: $accent

.sorting-links.active
  &:after
    content: ''
    margin: 0 0 0 auto
    width: 20px
    height: 20px
    background: url("../img/checkbox-accent.svg") no-repeat center
      size: contain
    min-width: 20px


.btn-catalog-mobile
  width: 50%
  margin: 0 -1px 0 0
  border: 1px solid #DDE0DC
  display: flex
  align-items: center
  justify-content: flex-start
  background: #FAFAFA
  color: #2A2D28
  font-size: 14px
  font-weight: 500
  cursor: pointer
  padding: 12px 18px
  &:last-child
    margin: 0

.btn-filter-icon
  display: flex
  align-items: center
  justify-content: center
  width: 20px
  min-width: 20px
  height: 15px
  margin: 0 11px 0 0

.sidebar-close
  width: 20px
  height: 20px
  fill: $green
  margin: 0 0 20px auto
  cursor: pointer
  display: none
  align-items: center
  justify-content: center

.mobile-vehicle-chat-sms
  position: fixed
  z-index: 3
  left: 0
  bottom: -100%
  width: 100%
  transition: .3s ease
  height: 50px
  padding: 0 30px
  .btn-text
    margin: 0 auto
  .btn-arrow
    width: 21px
    height: 20px
    margin: 0

.welcome-popup
  width: 100%
  position: fixed
  left: 0
  bottom: -100%
  box-shadow: inset 0px -4px 0px #2AB051
  background: #fff
  padding: 26px 20px 36px
  z-index: 101
  transition: .3s ease
  &__close
    margin: 20px auto 0
    width: fit-content
    color: #B0B0B0
    font-size: 12px
    font-weight: 500
    border-bottom: 1px dotted #B0B0B0
  .btn
    padding: 0 15px
    height: 45px
    color: #8FBA44
    font-size: 16px
    font-weight: 600
    border: none
    width: 100%
    max-width: none
    margin: 0 0 10px
    &:last-child
      margin: 0
  .btn-arrow
    width: 32px
    height: 16px
    min-width: 32px
    margin: 0 12px 0 0
    fill: $accent
    display: flex
    align-items: center
    justify-content: center
  .whatsapp-icon
    fill: #48C95F
    width: 24px
    height: 24px
  .telegram-icon
    fill: #2F89CE
    width: 24px
    height: 21px
  .phone-icon
    width: 22px
    height: 20px

.d-inline
  display: inline-block

.text-decoration
  text-decoration: underline

.color-accent
  color: $accent

.font-500
  font-weight: 500
  
.cookie
  width: 100%
  position: fixed
  z-index: 3
  left: 0
  bottom: 0
  background: #fff
  padding: 20px 0
  box-shadow: 2px 2px 14px 2px #121212
  font-size: 12px

.cookie-box
  max-width: 635px
  width: 100%
  margin: 0 auto
  .box-text
    line-height: 1.3
    margin: 0 0 15px
  h3
    color: #000
    font-weight: 600
    margin: 0 0 15px
    font-size: 16px
  .btn-group
    justify-content: flex-end
    display: flex
    align-items: flex-start
    flex-wrap: wrap
  .btn
    height: 30px
    font-size: 12px
    width: fit-content
    padding: 4px 10px
    margin: 0 10px 0 0
    text-transform: none
    &:last-child
      margin: 0
    &:after
      display: none

.form-cookie
  width: 100%
  border: 1px solid #cccccc
  margin: 10px 0 0
  display: flex
  align-items: stretch
  .form-group
    width: calc(100% - 120px)
    padding: 10px
    display: flex
    align-items: flex-start
    flex-wrap: wrap
  .checkbox
    width: fit-content
    color: $text
    margin: 0 15px 5px 0
    font-size: 12px
    &:last-child
      margin: 0 0 5px
  .checkbox-custom
    width: 16px
    height: 16px
    min-width: 16px
    margin: 0 10px 0 0

.form-cookie-box
  width: 120px
  background: #F5F5F5
  padding: 10px
  text-align: center

