@import "vars"

.page-checkout
  padding: 0 0 80px

  h1
    margin: 0 auto 10px
    text-align: center
    color: #2F5048

  .box-text
    text-align: center
    font-size: 18px
    margin: 0 auto 30px


.page-checkout-wrapper
  width: 100%
  box-shadow: 0 4px 30px rgba(0, 49, 95, 0.11)
  border: 1px solid #E1E4E8
    radius: 6px
  background: #fff
  padding: 80px


.btn-step
  max-width: 307px
  margin: 0 auto

.checkout-form
  width: 100%
  max-width: none
  //border: 1px solid #DDE0DC
  //background: #FAFAFA
  //margin: 26px 0 0

  label
    position: relative
    width: 100%
    max-width: none

  input
    border: 1px solid #B0B0B0
      radius: 6px
    color: #2A2D28
    &::placeholder
      color: #848484
  .col-12
    padding: 0 5px


    //border: 1px solid #DDE0DC
    //background: transparent
    //height: 55px
    //color: #2A2D28

  //.input-text
  //  color: #656871
  //  font-weight: 300
  //
  //.list-checkbox
  //  display: flex
  //  align-items: center
  //  flex-wrap: wrap
  //
  //  li
  //    width: auto
  //    margin: 0 50px 10px 0
  //
  //    &:last-child
  //      margin-right: 0
  //
  //.focus
  //  .label-wrapper
  //    display: block
  //    top: -10px
  //    transform: none
  //    left: 0
  //
  //  .input-text
  //    padding: 3px
  //    background: #FAFAFA
  //    width: fit-content
  //
  //    &:before
  //      display: none
  //
  //  input, select, textarea
  //    border: 1px solid #B0B0B0
  //
  //h3
  //  margin: 0 0 15px
  //  color: #2A2D28
  //  font-size: 21px
  //  letter-spacing: 0.02em


.checkout-stages
  margin: 0 auto 30px
  color: #848484
  font-size: 16px
  font-weight: 500
  text-align: center

.checkout-stages-lines
  margin: 15px 0 0
  display: flex
  align-items: center
  justify-content: center

.checkout-stages-box
  margin: 0 10px 0 0
  background: #DBDBDB
  width: 100px
  height: 3px

  &:last-child
    margin: 0

.step-ready
  background: $accent

.checkout-footer
  margin-top: 20px

//.select-checkout
//  width: 100%
//  height: 55px
//  border: 1px solid #B0B0B0
//  background: transparent url("../img/arrow-bottom.svg") no-repeat calc(100% - 25px) center
//    size: 8px
//  padding: 0 25px 0 22px
//  font-size: 16px
//  font-weight: 300
//  color: #2A2D28
//  cursor: pointer
//  display: none
//
//.label-select
//  height: 55px
//  border: 1px solid #DDE0DC
//  cursor: pointer
//
//  &:after
//    content: ''
//    background: url("../img/arrow-bottom.svg") no-repeat right center
//      size: 100%
//    top: 50%
//    transform: translate(0, -50%)
//    right: 25px
//    width: 8px
//    height: 8px
//    position: absolute


//.label-select.focus
//  border: none
//
//  &:after
//    display: none
//
//  .select-checkout
//    display: block
//
//.input-luck
//  border: none
//
//  &:after
//    display: none
//
//  .select-checkout
//    display: block
//
//  .input-text
//    color: #2AB051
//    background: #FAFAFA
//    padding: 3px
//
//    &:before
//      display: none
//
//  input, select
//    border-color: #2AB051
//
//  .label-wrapper
//    padding: 0 17px
//    top: -10px
//    left: 0
//    transform: none

//.input-description
//  width: 100%
//  position: absolute
//  left: 0
//  top: 100%
//  padding: 4px 22px 0
//  font-size: 12px
//  font-weight: 300
//
//.input-error
//  .input-description, .input-text
//    color: #BA4444
//
//  input, select
//    border-color: #BA4444

.links-prev
  display: flex
  align-items: center
  color: #8FBA44
  font-size: 16px
  font-weight: 600
  &:hover
    color: $green

.links-prev-icon
  margin: 0 15px 0 0
  width: 17px
  height: 11px
  fill: #8FBA44
  align-items: center
  justify-content: center
  display: flex

.form-description
  font-size: 16px
  font-weight: 300
  margin: 0 0 16px

.label-file
  width: 100%
  cursor: pointer
  border: 1px dashed #DDE0DC
  height: 55px
  display: flex
  align-items: center
  justify-content: center
  background: #FFFFFF

.input-file
  display: none

.input-file-icon
  width: 29px
  height: 26px


//.checkout-head
//  background: #2AB051
//  width: 100%
//  padding: 27px 60px
//
//  .btn
//    justify-content: flex-end
//    margin: 0 0 0 auto
//    font-size: 24px
//    text-transform: uppercase
//    font-weight: bold
//    height: auto
//
//    .svg-icon
//      fill: #fff
//
//  .btn-arrow
//    margin: 0 0 0 30px
//    width: 26px
//    height: 18px



//.page-thanks
.page-thanks
  padding: 100px 0 170px

.page-thanks__item
  width: 100%
  text-align: center

  h1
    text-align: center
    color: #2AB051

  .thanks-icon
    background: #FAFAFA
    width: 140px
    height: 140px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    border-radius: 50%
    margin: 0 auto 40px
    padding: 48px

    .svg-icon
      fill: #2AB051

  .box-text
    font-size: 21px
    font-weight: 500
    line-height: 140%

  .btn
    margin: 80px auto 0
    max-width: 264px

.phone-item
  display: inline-block
  font-weight: 600
  font-size: 30px
  color: #2A2D28
  margin: 0 0 0 10px

  .svg-icon
    width: 21px
    height: 21px
    fill: #2AB051
    margin: 0 10px 0 0



//
//.btn-white
//  color: #fff

//
//.checkout-body
//  padding: 30px 80px 40px
//  width: 100%




