@import "vars"

footer
  color: #fff
  background: #196250
  .phone, .mail
    color: #fff
  .mail
    margin: 15px 0
  .list-maps
    padding: 0
    li
      margin: 15px 0 0
  .list-maps-links__icon
    width: 20px
    height: 20px
    padding: 3px

.footer-top
  padding: 50px 0 40px

.description-company
  margin: 10px 0 0
  color: rgba(255, 255, 255, 0.5)
  font-size: 15px
  line-height: 145%
  max-width: 232px

.footer-menu
  font-size: 15px
  letter-spacing: 0.02em
  margin: 0 0 0 auto
  &:first-child
    margin: 0

  li
    margin: 0 0 15px 0

    a
      color: #fff

.footer-box
  margin: 0 0 0 auto
  font-size: 15px

.address
  display: flex
  align-items: center


.footer-bottom
  padding: 15px 0
  border-top: 1px solid rgba(255, 255, 255, 0.5)
  color: rgba(255, 255, 255, 0.5)
  text-align: center

.copyright
  margin: 0 0 0 40px


