@import "vars"

.home
  position: relative
  background: #196250
  color: #fff
  overflow: hidden

  .container
    z-index: 1
    padding: 40px 10px 100px

    &:before, &:after
      content: ''
      position: absolute
      z-index: -1

    &:before
      width: 707px
      height: 707px
      background: url("../img/decor-circle.svg") no-repeat center
        size: 100%
      left: calc(50% + 40px)
      top: calc(50% - 10px)
      transform: translate(-50%, -50%)

    &:after
      width: 396px
      height: 396px
      filter: blur(310px)
      mix-blend-mode: screen
      left: calc(50% + 40px)
      top: 50%
      transform: translate(-50%, -50%)
      background: #80FF00

.main-content
  max-width: 677px
  width: 100%
  position: relative
  z-index: 1
  padding: 14px 0 0
  margin: 0 auto 0 0

  .box-text
    font-size: 20px

  h1
    margin: 0 0 36px
    font-size: 51px
    text-transform: uppercase

    strong
      display: block

.main-form
  background: #15473C
  max-width: 360px
  width: 100%
  border-radius: 10px
  position: relative
  z-index: 1
  padding: 48px 30px

  h3
    text-align: center
    margin: 0 auto 20px
    font-size: 20px
    font-weight: bold

  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: calc(100% - 20px)
    height: calc(100% - 20px)
    border: 1px solid rgba(255, 255, 255, 0.2)
      radius: 10px
    z-index: -1

  .form
    button
      width: 100%


.main-slider__item-img
  max-width: 923px
  width: 100%
  position: absolute
  right: 167px
  top: 10px
  z-index: 1
  @include d-flex

  img
    width: 100%

  .img-mobile
    display: none

.img-mobile
  display: none

.main-slider
  .slick-prev
    left: 20px

  .slick-next
    right: 20px

  .slick-arrow
    z-index: 2

    svg
      fill: #fff

//.catalog-car
.catalog-car
  padding: 0 0 80px

.filter-wrapper
  width: 100%
  margin: -64px 0 40px
  padding: 40px 46px 30px 40px
  background: #fff
  filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11))
  border-radius: 10px
  position: relative
  z-index: 1

  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: calc(100% - 20px)
    height: calc(100% - 20px)
    border: 1px solid #DEDEDE
      radius: 10px
    z-index: -1

  h2
    width: 100%
    margin: 0 0 30px


.form-filter
  width: 100%

  button
    width: 100%
    background: $accent

  label
    width: 100%
    position: relative
    margin: 0 0 10px

.filter-range.ui-widget.ui-widget-content
  border: none
  width: 100%
  height: 2px
  display: block
  background: #DBDBDB

.label-range
  min-height: 50px
  display: flex
  align-items: flex-end
  justify-content: flex-start
  padding: 0 0 10px


.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
  border-radius: 0

.ui-slider .ui-slider-range
  background: #8FBA44
  height: 2px

.ui-slider-horizontal
  height: 2px

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
  width: 16px
  height: 16px
  background: #8FBA44
  border: none
    radius: 50%
  outline: none
  cursor: pointer
  top: -6px

.price-range-min, .price-range-max
  position: absolute
  color: #303030
  font-size: 16px
  font-family: $default-font
  display: inline-block
  left: 50%
  bottom: 20px
  transform: translate(-50%, 0)

.all-models-result
  color: #2F5048
  text-align: right

.card
  width: 100%
  height: 100%
  position: relative
  border: 1px solid #E1E4E8
    radius: 6px
  box-shadow: 0 4px 30px rgba(0, 49, 95, 0.11)
  background: #fff
  display: flex
  flex-direction: column
  overflow: hidden

.card-img
  position: relative
  width: calc(100% + 1px)
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  height: 180px
  margin: -0.5px -0.5px 0

  img
    width: 100%
    height: 100%
    object-fit: cover

.label-list
  width: 100%
  padding: 10px
  position: absolute
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  top: 0
  left: 0
  font-size: 12px
  font-weight: 800
  z-index: 1
  color: #fff
  text-transform: uppercase

  li
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    margin: 0 10px 2px 0
    padding: 2px 6px
    height: 18px
    border-radius: 3px

    &:last-child
      margin: 0 0 2px

    img
      max-height: 100%
      width: fit-content

  .logo-company
    display: flex
    align-items: center
    justify-content: center
    max-height: 100%
    max-width: 80px

.card-body
  width: 100%
  padding: 18px 13px 15px
  margin: 0 0 auto
  position: relative


.card-footer
  width: 100%
  border-top: 1px solid #DDE0DC
  padding: 7px 0 0
  margin: 7px 0 0
  background: transparent
  display: flex
  align-items: flex-start
  color: #2A2D28

  &__item
    margin: 0 30px 0 0

    &:last-child
      margin: 0

  p
    margin: 0 0 2px
    font-size: 14px

.card-location
  max-width: 40px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  right: 22px
  top: -25px
  z-index: 1

.card-title
  width: 100%
  margin: 0 0 10px
  color: #2F5048
  font-size: 16px
  font-weight: 900

.list-characteristics
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  color: #2A2D28
  font-size: 13px

  li
    width: fit-content
    margin: 0 4px 4px 0
    display: flex
    align-items: center
    border-radius: 3px
    background: #E5F2EF
    height: 22px
    overflow: hidden

    p
      padding: 3px 6px
      height: 100%
      display: flex
      align-items: center
      justify-content: center

    &:last-child
      margin: 0 0 4px

  .hot
    background: #FFF3CC

  .icon
    width: 16px
    min-width: 16px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 2px 0 0

.country-flag
  max-width: 34px
  min-width: 34px

.price-wrapper
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap


//.callback
.callback
  position: relative
  background: #196250
  color: #fff
  z-index: 1
  h2
    color: #fff
    margin: 0 0 10px
  .container
    padding: 50px 15px
    position: relative

.callback-wrapper
  position: relative
  z-index: 1
  overflow: hidden
  &:before
    content: ''
    position: absolute
    width: 396px
    height: 396px
    background: #80FF00
    mix-blend-mode: screen
    filter: blur(310px)
    top: 110px
    left: 50%
    transform: translate(-50%, 0)
    z-index: -1

.form-callback
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  margin: 10px 0 0

  label
    margin: 10px 10px 0 0
    max-width: 250px

  button
    max-width: 250px
    width: 100%
    margin: 10px 0 0

.callback-image
  position: absolute
  top: 19px
  right: 195px
  max-width: 519px
  width: 100%
  z-index: 1
  @include d-flex

.callback-v2
  .callback-wrapper
    &:before
      top: -47px
      left: auto
      transform: none
      right: 259px
  .callback-image
    max-width: 534px
    top: 25px
    right: 194px

//marks
.marks
  margin: 80px 0 60px
  h2
    margin: 0 0 20px

.list-marks
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  li
    margin: 0 0 19px
    width: 14.2%
    a
      padding: 0 8px
      @include d-flex

//advantages
.advantages
  h2
    margin: 0 0 36px

.advantages-box
  width: 100%
  height: 100%
  display: flex
  align-items: center
  background: #fff
  box-shadow: 0px 4px 30px rgba(0, 64, 122, 0.12)
  border: 1px solid #E1E4E8
    radius: 6px
  padding: 40px 46px 40px 40px
  line-height: 145%
  color: #303030
  &__icon
    width: 80px
    min-width: 80px
    @include d-flex
  &__body
    width: calc(100% - 80px)
    padding: 0 0 0 30px

//.question
.question
  background: #196250
  position: relative
  overflow: hidden
  h2
    margin: 0 auto 43px
  .container
    position: relative
    z-index: 1
    &:before
      content: ''
      left: 12px
      top: 50%
      transform: translate(0,-50%)
      filter: blur(390px)
      width: 344px
      height: 344px
      background: #80FF00
      z-index: -1
      position: absolute

.question-box
  width: 100%
  background: #fff
  margin: 0 0 10px
  border-radius: 6px
  padding: 20px 0
  color: #303030
  &__head
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 20px 0 30px
    cursor: pointer
    h4
      font-weight: 600
  &__body
    padding: 10px 30px 0
    line-height: 145%
    p
      max-width: 458px

  &:last-child
    margin: 0

.collapse-icon
  @include d-flex
  width: 21px
  height: 21px
  min-width: 21px
  position: relative
  &:before, &:after
    content: ''
    position: absolute
    background: #8FBA44
    border-radius: 3px
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    transition: .3s ease
  &:before
    width: 3px
    height: 0
  &:after
    height: 3px
    width: 100%

.collapsed
  .collapse-icon
    &:before
      height: 100%


//.reviews
.reviews-slider
  .slick-track
    display: flex
    align-items: stretch
  .slide
    padding: 25px 10px 30px
    height: auto
  .slick-list
    margin: 0 -10px


.reviews-box
  width: 100%
  height: 100%
  background: #fff
  display: flex
  flex-direction: column
  filter: drop-shadow(0px 4px 7px rgba(0, 64, 122, 0.12))
  border: 1px solid #E1E4E8
    radius: 20px
  padding: 40px 30px
  &__body
    width: 100%
    margin: 0 0 auto
    h4
      margin: 0 0 10px
      font-weight: 700
      font-size: 18px
    p
      line-height: 145%
  &__footer
    width: 100%
    margin: 18px 0 0
    display: flex
    align-items: center
  &__photo
    @include d-flex
    width: 60px
    height: 60px
    border-radius: 50%
    background: #E5F2EF
    color: #C7D7D3
    font-size: 34px
    font-weight: bold
  &__user
    padding: 0 0 0 15px
    width: calc(100% - 60px)
    font-size: 18px
  .name
    font-weight: bold
  .city
    margin: 10px 0 0
    color: #848484


//.conditions
//  background: #2C333D
//  position: relative
//  width: 100%
//  color: #fff
//  overflow: hidden
//  padding: 80px 70px 56px 88px
//  display: flex
//  align-items: flex-start
//  justify-content: space-between
//  flex-wrap: wrap
//  z-index: 1
//
//  h2
//    font-size: 26px
//    font-weight: 800
//    text-transform: uppercase
//    margin: 0 0 18px
//
//  &:before
//    content: ''
//    position: absolute
//    width: 100%
//    height: 100%
//    background: linear-gradient(290.74deg, rgba(36, 45, 57, 0.3) 42.74%, rgba(42, 176, 81, 0) 98.96%), linear-gradient(270.4deg, #2C333D 37.57%, rgba(44, 51, 61, 0.870628) 53.04%, rgba(44, 51, 61, 0) 99.69%), url("../img/bg5.png") no-repeat -170px center
//      size: cover
//    opacity: .25
//    left: 0
//    top: 0
//    z-index: -1
//
//.conditions-content
//  width: calc(100% - 601px)
//  padding: 0 60px 0 0
//  position: relative
//  z-index: 1

//.social-content
//  width: 100%
//  color: #fff
//  background: #2AB051
//  mix-blend-mode: normal
//  position: relative
//  overflow: hidden
//  padding: 75px 87px
//  display: flex
//  align-items: flex-start
//  justify-content: space-between
//  flex-wrap: wrap
//
//  > *
//    position: relative
//    z-index: 1
//
//  h3
//    text-transform: uppercase
//    max-width: 305px
//    width: 100%
//    font-size: 26px
//    font-weight: bold
//
//  &:before
//    content: ''
//    position: absolute
//    left: -127px
//    top: -23px
//    width: 452px
//    height: 276px
//    transform: matrix(-1, 0, 0, 1, 0, 0)
//    mix-blend-mode: multiply
//    background: url("../img/bg4.png") no-repeat center
//      size: contain
//    opacity: .3

.list-social-subscribe
  display: flex
  align-items: flex-start
  flex-wrap: wrap

  li
    margin: 0 140px 0 0

    &:last-child
      margin: 0

    a
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      color: #ffffff
      font-size: 12px
      font-weight: bold
      text-transform: uppercase

.social-icon
  fill: #fff
  margin: 0 auto 20px
  display: flex
  align-items: center
  justify-content: center

.social-icon-fb
  width: 25px
  height: 49px

.social-icon-inst
  width: 49px
  height: 49px

.social-icon-tg
  width: 44px
  height: 49px

//.professional
//.professional
//  position: relative
//  overflow: hidden
//
//  .container
//    position: relative
//    z-index: 1
//
//  &:before
//    content: 'via'
//    position: absolute
//    transform: rotate(-90deg)
//    color: #F4F6F4
//    font-size: 186px
//    font-weight: 900
//    text-transform: uppercase
//    line-height: 223px
//    top: 289px
//    left: 100px
//
//  &:after
//    content: 'Auto'
//    position: absolute
//    transform: rotate(90deg)
//    font-size: 220px
//    font-weight: 900
//    color: #F4F6F4
//    text-transform: uppercase
//    line-height: 263px
//    top: 120px
//    right: -230px
//
//  .btn
//    margin: 25px 0 0
//
//  h2
//    font-weight: 300
//
//    strong
//      font-weight: 400
//      display: block
//
//.professional-images
//  max-width: 670px
//  width: 100%
//  height: 470px
//  position: relative
//  display: flex
//  align-items: center
//  justify-content: center
//  color: #fff
//
//  &:before
//    content: ''
//    position: absolute
//    width: 340px
//    height: 50px
//    left: -340px
//    top: 50px
//    background: #2AB051
//
//  img
//    width: 100%
//    height: 100%
//    object-fit: cover
//
//.professional-images__content
//  position: absolute
//  max-width: 480px
//  width: 100%
//  right: 0
//  bottom: 50px
//  mix-blend-mode: normal
//  padding: 26px 18px 26px 9px
//  display: flex
//  align-items: center
//  font-size: 18px
//  font-weight: 600
//
//  &:before
//    content: ''
//    position: absolute
//    width: 100%
//    height: 100%
//    clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%)
//    top: 0
//    right: 0
//    background: rgba(#2AB051, .8)
//
//  > *
//    position: relative
//    z-index: 1
//
//  span
//    max-width: 276px
//    width: 100%
//    line-height: 140%
//    text-transform: uppercase
//
//  p
//    font-size: 74px
//    font-weight: 800
//    margin: 0 15px 0 0
//
//
//.professional-advantages
//  width: 100%
//  display: flex
//  align-items: flex-start
//  justify-content: space-between
//  flex-wrap: wrap
//
//.professional-content
//  width: calc(100% - 670px)
//  padding: 0 0 0 54px
//
//  .box-text
//    margin: 19px 0 16px
//    line-height: 170%
//    font-size: 15px
//    font-weight: 300
//    color: #656871




//.advantages
//  padding: 60px 0
//  position: relative
//  overflow: hidden
//  background: #2C333D
//  color: #ffffff
//
//  .container
//    flex-direction: column
//    align-items: flex-start
//
//  h2
//    max-width: 570px
//
//    &:before
//      background: $accent
//
//  &:before
//    content: ''
//    position: absolute
//    right: 0
//    top: 0
//    mix-blend-mode: normal
//    background-blend-mode: overlay, normal, normal, normal
//    background: radial-gradient(102.73% 102.73% at 76.87% -71.29%, #FFFFFF 0%, rgba(214, 141, 31, 0) 98.36%), linear-gradient(358.37deg, rgba(44, 51, 61, 0.928261) -8.4%, rgba(44, 51, 61, 0.828262) -8.4%, #2C333D -8.4%, rgba(44, 51, 61, 0) 96.12%), linear-gradient(85.85deg, #2C333D 38.42%, rgba(44, 51, 61, 0.928261) 42.73%, rgba(44, 51, 61, 0.828262) 51.21%, rgba(44, 51, 61, 0) 97.33%), url("../img/bg1.png") no-repeat 700px center
//      size: cover
//    width: 100%
//    height: 100%
//    opacity: .4
//
//  h5
//    margin: 16px 0 0
//    font-size: 30px
//    font-weight: 300
//    font-style: italic
//    display: flex
//    align-items: center
//    width: 100%
//
//    &:before
//      content: ''
//      display: inline-block
//      clip-path: polygon(65% 0%, 100% 0%, 35% 100%, 0% 100%)
//      width: 22px
//      height: 40px
//      background: $accent
//      margin: 0 14px 0 0
//
//    &:after
//      content: ''
//      display: inline-block
//      background: #8FBA44
//      width: 250px
//      height: 4px
//      margin: 0 120px 0 auto
//
//.advantages-content
//  padding: 0 0 0 23px
//  width: 100%
//
//  .list-number
//    li
//      &:nth-child(1), &:nth-child(3)
//        order: -1
//
//.list-number
//  width: 100%
//  display: flex
//  align-items: flex-start
//  justify-content: space-between
//  flex-wrap: wrap
//  max-width: 755px
//  font-size: 24px
//  font-weight: 300
//  margin: 40px 0 0
//
//  p
//    font-weight: 600
//    text-transform: uppercase
//
//  li
//    display: flex
//    align-items: center
//    margin: 0 0 50px
//    width: 50%
//
//  .number
//    margin: 0 30px 0 0
//    display: flex
//    align-items: center
//    justify-content: center
//    width: 60px
//    height: 60px
//    min-width: 60px
//    background: $accent
//    color: #2C333D
//    font-weight: 600


//.card-banner
//  width: 100%
//  height: 100%
//  position: relative
//  color: #fff
//  z-index: 1
//  padding: 30px 35px 57px
//  overflow: hidden
//  &:before
//    content: ''
//    position: absolute
//    left: 0
//    top: 0
//    width: 100%
//    height: 100%
//    background: linear-gradient(290.74deg, rgba(36, 45, 57, 0.5) 42.74%, rgba(42, 176, 81, 0) 98.96%), linear-gradient(14.56deg, #2C333D 33.12%, rgba(44, 51, 61, 0.928261) 36.66%, rgba(44, 51, 61, 0.828262) 43.63%, rgba(44, 51, 61, 0) 81.47%)
//    background-blend-mode: normal, normal, color-burn
//    mix-blend-mode: normal
//  &__bg
//    z-index: -1
//    width: 100%
//    height: 100%
//    object-fit: cover
//    position: absolute
//    left: 0
//    top: 0
//  &__content
//    width: 100%
//    height: 100%
//    text-align: center
//    display: flex
//    flex-direction: column
//    align-items: center
//    justify-content: flex-end
//    z-index: 1
//    position: relative
//
//  h3
//    margin: 0 auto 50px
//    font-size: 35px
//    font-weight: bold









