$default-font: "Montserrat", sans-serif


$accent: #8FBA44
$text: #2F5048
$orange: #FFA800
$green: #196250
$black: #2A2D28

@mixin d-flex
  display: flex
  align-items: center
  justify-content: center






