@import "vars"

.home
  position: relative
  background: #196250
  color: #fff
  overflow: hidden

  .container
    z-index: 1
    padding: 40px 10px 100px

    &:before, &:after
      content: ''
      position: absolute
      z-index: -1

    &:before
      width: 707px
      height: 707px
      background: url("../img/decor-circle.svg") no-repeat center
        size: 100%
      left: calc(50% + 40px)
      top: calc(50% - 10px)
      transform: translate(-50%, -50%)

    &:after
      width: 396px
      height: 396px
      filter: blur(310px)
      mix-blend-mode: screen
      left: calc(50% + 40px)
      top: 50%
      transform: translate(-50%, -50%)
      background: #80FF00

.main-content
  max-width: 677px
  width: 100%
  position: relative
  z-index: 2
  padding: 14px 0 0
  margin: 0 auto 0 0

  .box-text
    font-size: 20px

    ul
      margin: 0

  h1
    margin: 0 0 36px
    font-size: 50px
    text-transform: uppercase

    strong
      display: block

.main-form
  background: #15473C
  max-width: 360px
  width: 100%
  height: fit-content
  border-radius: 10px
  position: relative
  z-index: 1
  padding: 48px 30px

  h3
    text-align: center
    margin: 0 auto 20px
    font-size: 20px
    font-weight: bold

  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: calc(100% - 20px)
    height: calc(100% - 20px)
    border: 1px solid rgba(255, 255, 255, 0.2)
      radius: 10px
    z-index: -1

  .form
    button
      width: 100%

    .range_val
      margin: 0 0 25px
      position: relative
      width: 100%

      input
        position: absolute
        right: 0
        background: transparent
        padding: 0
        height: auto
        width: fit-content
        border: none
          radius: 0
        color: #8FBA44
        font-size: 16px
        font-weight: 700
        text-align: right

    .payment-month
      color: #fff
      margin: 0 0 25px
      &__val
        background: transparent
        padding: 0
        margin: 0 10px
        color: #8FBA44
        font-size: 32px
        font-weight: bold
        border: none
          radius: 0
        width: fit-content
        height: auto

.main-slider__item-img
  max-width: 923px
  width: 100%
  position: absolute
  right: 167px
  top: 10px
  z-index: 1
  @include d-flex

  img
    width: 100%

  .img-mobile
    display: none

.img-mobile
  display: none

.main-slider
  .slick-prev
    left: 20px

  .slick-next
    right: 20px

  .slick-arrow
    z-index: 2

    svg
      fill: #fff

//.catalog-car
.catalog-car
  padding: 0 0 80px

.filter-wrapper
  width: 100%
  margin: -64px 0 40px
  padding: 40px 46px 30px 40px
  background: #fff
  filter: drop-shadow(0px 4px 30px rgba(0, 49, 95, 0.11))
  border-radius: 10px
  position: relative
  z-index: 1

  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    width: calc(100% - 20px)
    height: calc(100% - 20px)
    border: 1px solid #DEDEDE
      radius: 10px
    z-index: -1

  h2
    width: 100%
    margin: 0 0 30px

.filter-wrapper-container
  position: relative

.btn-close__filter
  width: 22px
  height: 22px
  display: none
  align-items: center
  justify-content: center
  stroke: #848484
  position: absolute
  right: 25px
  top: 35px


.btn-filter-wrapper
  //background: #fff
  //padding: 30px 0
  margin: 0 auto 30px

.btn-toggle-filter
  max-width: 330px
  margin: 0 auto

.form-filter
  width: 100%

  button
    width: 100%
    background: $accent

  label
    width: 100%
    position: relative
    margin: 0 0 10px
  .label-range
    margin: 0 0 8px
    .form-group
      label
        margin: 0 0 10px
  .range_val
    width: 100%

.filter-range.ui-widget.ui-widget-content
  border: none
  width: 100%
  height: 2px
  display: block
  background: #DBDBDB

.label-range
  min-height: 50px
  display: flex
  align-items: flex-end
  justify-content: flex-start
  padding: 0 0 10px

  label
    span
      position: absolute
      left: 10px
      top: 50%
      transform: translate(0,-50%)
      color: #848484
      font-size: 12px
    input
      height: 30px
      font-size: 14px

.ui-widget.ui-widget-content
  height: 2px
  background: #DDE0DC

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br
  border-radius: 0

.ui-slider .ui-slider-range
  background: #8FBA44
  height: 2px

.ui-slider-horizontal
  height: 2px

.ui-widget.ui-widget-content
  border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
  width: 16px
  height: 16px
  background: #8FBA44
  border: none
    radius: 50%
  outline: none
  cursor: pointer
  top: -6px

.price-range-min, .price-range-max
  position: absolute
  color: #303030
  font-size: 16px
  font-family: $default-font
  display: inline-block
  left: 50%
  bottom: 20px
  transform: translate(-50%, 0)

.all-models-result
  color: #2F5048
  text-align: right

.card
  width: 100%
  height: 100%
  position: relative
  border: 1px solid #E1E4E8
    radius: 6px
  box-shadow: 0 4px 30px rgba(0, 49, 95, 0.11)
  background: #fff
  display: flex
  flex-direction: column
  //overflow: hidden
  //transition: .3s ease
  &:hover
    border: 1px solid #8FBA44

.card-img
  position: relative
  width: calc(100% + 1px)
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  height: 180px
  margin: -0.5px -0.5px 0

  img
    width: 100%
    height: 100%
    object-fit: cover

.label-list
  width: 100%
  padding: 10px
  position: absolute
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  top: 0
  left: 0
  font-size: 12px
  font-weight: 800
  z-index: 1
  color: #fff
  text-transform: uppercase

  li
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    margin: 0 3px 2px 0
    padding: 2px 6px
    height: 18px
    border-radius: 3px

    &:last-child
      margin: 0 0 2px

    img
      max-height: 100%
      width: fit-content

  .logo-company
    display: flex
    align-items: center
    justify-content: center
    max-height: 100%
    max-width: 80px

.card-body
  width: 100%
  padding: 18px 13px 15px
  margin: 0 0 auto
  position: relative


.card-footer
  width: 100%
  border-top: 1px solid #DDE0DC
  padding: 7px 0 0
  margin: 7px 0 0
  background: transparent
  display: flex
  align-items: flex-start
  color: #2A2D28

  &__item
    margin: 0 30px 0 0

    &:last-child
      margin: 0

  p
    margin: 0 0 2px
    font-size: 14px

.card-location
  max-width: 40px
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  right: 22px
  top: -25px
  z-index: 1

.card-title
  width: 100%
  margin: 0 0 10px
  color: #2F5048
  font-size: 16px
  font-weight: 900

.list-characteristics
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  color: #2A2D28
  font-size: 13px

  li
    width: fit-content
    margin: 0 4px 4px 0
    display: flex
    align-items: center
    border-radius: 3px
    background: #E5F2EF
    height: 22px
    overflow: hidden

    p
      padding: 3px 6px
      height: 100%
      display: flex
      align-items: center
      justify-content: center

    &:last-child
      margin: 0 0 4px

  .hot
    background: #FFF3CC

  .icon
    width: 16px
    min-width: 16px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 2px 0 0

.country-flag
  max-width: 34px
  min-width: 34px
  height: 22px
  border-radius: 3px
  overflow: hidden
  @include d-flex

  img
    width: 100px
    height: 100%
    object-fit: cover

.card-banner
  width: 100%
  height: 100%
  overflow: hidden
  text-align: center
  box-shadow: 0 4px 30px rgba(0, 49, 95, 0.11)
  border-radius: 6px
  background: #fff
  z-index: 1
  color: #fff
  position: relative

  &:before
    content: ''
    position: absolute
    filter: blur(270px)
    width: 231px
    height: 231px
    background: #80FF00
    //mix-blend-mode: screen
    top: -116px
    left: 50%
    transform: translate(-50%, 0)
    z-index: 1

  &:after
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: rgba(25, 98, 80, 0.8)

  &__bg
    position: absolute
    width: 100%
    height: 100%
    object-fit: cover
    z-index: -1

  &__content
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 20px
    position: relative
    z-index: 1

  h3
    margin: 0 auto 20px
    font-size: 22px
    font-weight: 900

  .btn
    max-width: 220px
    width: 100%


//.callback
.callback
  position: relative
  background: #196250
  color: #fff
  z-index: 1

  h2
    color: #fff
    margin: 0 0 10px

  .container
    padding: 50px 15px
    position: relative

.callback-wrapper
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: -1
  overflow: hidden

  &:before
    content: ''
    position: absolute
    width: 396px
    height: 396px
    background: #80FF00
    mix-blend-mode: screen
    filter: blur(310px)
    top: 110px
    left: 50%
    transform: translate(-50%, 0)
    z-index: -1

.form-callback
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  margin: 10px 0 0

  label
    margin: 10px 10px 0 0
    max-width: 250px

  button
    max-width: 250px
    width: 100%
    margin: 10px 0 0
  .checkbox
    order: 1
    font-size: 11px
    width: 100%
    max-width: none
    color: #fff
    text-align: left
    a
      color: #fff
  .checkbox-custom
    width: 20px
    height: 20px
    min-width: 20px
    margin: 0 10px 0 0


.callback-image
  position: absolute
  top: 19px
  right: 195px
  max-width: 519px
  width: 100%
  z-index: 1
  @include d-flex

.callback-v2
  .callback-wrapper
    &:before
      top: -47px
      left: auto
      transform: none
      right: 259px

  .callback-image
    max-width: 534px
    top: 25px
    right: 194px

//marks
.marks
  margin: 80px 0 60px

  h2
    margin: 0 0 20px

.list-marks
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap

  li
    margin: 0 0 19px
    width: 14.2%

    a
      padding: 0 8px
      @include d-flex

//advantages
.advantages
  h2
    margin: 0 0 36px

.advantages-box
  width: 100%
  height: 100%
  display: flex
  align-items: center
  background: #fff
  box-shadow: 0px 4px 30px rgba(0, 64, 122, 0.12)
  border: 1px solid #E1E4E8
    radius: 6px
  padding: 40px 46px 40px 40px
  line-height: 145%
  color: #303030

  &__icon
    width: 80px
    min-width: 80px
    @include d-flex

  &__body
    width: calc(100% - 80px)
    padding: 0 0 0 30px

//.question
.question
  background: #196250
  //background: #196250 url("../img/question-circle.svg") no-repeat 0 center
  //  size: 1112px
  position: relative
  overflow: hidden

  h2
    margin: 0 auto 43px

  .container
    position: relative
    z-index: 1

    &:before
      content: ''
      left: 12px
      top: 50%
      transform: translate(0, -50%)
      filter: blur(390px)
      width: 344px
      height: 344px
      background: #80FF00
      z-index: -1
      position: absolute

.question-box
  width: 100%
  background: #fff
  margin: 0 0 10px
  border-radius: 6px
  padding: 20px 0
  color: #303030
  &__head
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 20px 0 30px
    cursor: pointer
    h4
      font-weight: 600

  &__body
    padding: 10px 30px 0
    line-height: 145%
    p
      max-width: 458px

  &:last-child
    margin: 0

.collapse-icon
  @include d-flex
  width: 21px
  height: 21px
  min-width: 21px
  position: relative

  &:before, &:after
    content: ''
    position: absolute
    background: #8FBA44
    border-radius: 3px
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    transition: .3s ease

  &:before
    width: 3px
    height: 0

  &:after
    height: 3px
    width: 100%

.collapsed
  .collapse-icon
    &:before
      height: 100%


//.reviews
.reviews-slider
  .slick-track
    display: flex
    align-items: stretch

  .slide
    padding: 25px 10px 30px
    height: auto

  .slick-list
    margin: 0 -10px


.reviews-box
  width: 100%
  height: 100%
  background: #fff
  display: flex
  flex-direction: column
  filter: drop-shadow(0px 4px 7px rgba(0, 64, 122, 0.12))
  border: 1px solid #E1E4E8
    radius: 20px
  padding: 40px 30px

  &__body
    width: 100%
    margin: 0 0 auto

    h4
      margin: 0 0 10px
      font-weight: 700
      font-size: 18px

    p
      line-height: 145%

  &__footer
    width: 100%
    margin: 18px 0 0
    display: flex
    align-items: center

  &__photo
    @include d-flex
    width: 60px
    height: 60px
    border-radius: 50%
    background: #E5F2EF
    color: #C7D7D3
    font-size: 34px
    font-weight: bold

  &__user
    padding: 0 0 0 15px
    width: calc(100% - 60px)
    font-size: 18px

  .name
    font-weight: bold

  .city
    margin: 10px 0 0
    color: #848484


//contacts
.contacts
  z-index: 1
  position: relative

  .container
    position: relative

.contacts-box
  background: #fff
  max-width: 379px
  width: 100%
  filter: drop-shadow(0px 4px 30px rgba(0, 64, 122, 0.12))
  padding: 30px
  border: 1px solid #E1E4E8
    radius: 6px
  position: relative
  z-index: 1

.map
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0

  iframe
    width: 100%
    height: 100%

.list-contacts-item
  display: flex
  align-items: center
  margin: 0 0 10px
  color: #292929

  &__icon
    @include d-flex
    border-radius: 50%
    width: 30px
    height: 30px
    background: $accent
    fill: #fff
    padding: 7px

  &__text
    width: calc(100% - 30px)
    padding: 0 0 0 10px

  .whatsapp-icon
    background: #29A71A

  .telegram-icon
    background: #1C8ADB

a.list-contacts-item
  &:hover
    color: $accent

.list-maps
  padding: 0 0 0 40px

  li
    margin: 0 0 10px

.list-maps-links
  display: flex
  align-items: center
  color: $accent
  width: 100%
  font-feature-settings: 'pnum' on, 'lnum' on

  &__icon
    @include d-flex
    width: 30px
    height: 30px
    border-radius: 50%
    padding: 5px

    img
      max-height: 100%

  &__text
    width: calc(100% - 30px)
    padding: 0 0 0 10px

  &:hover
    color: $black

.waze-link
  .list-maps-links__icon
    background: #33CCFF

.google-link
  .list-maps-links__icon
    background: #EFF2F9


//manlsizing lp
.home-manslizing
  .container
    padding: 80px 15px

  .main-slider__item-img
    max-width: 637px
    bottom: -80px
    right: 240px
    top: auto

  .main-content
    max-width: 740px

  h1
    margin: 0 0 12px

  .box-text
    margin: 45px 0 0
    font-weight: 500
    font-size: 16px

.subtitle
  font-size: 24px
  font-weight: bold

.stages-work
  padding: 80px 0 60px

.stages-work-box
  &__icon
    display: flex
    align-items: center

  .icon
    @include d-flex
    width: 50px
    height: 50px
    margin: 0 10px 0 0

  h4
    color: rgba(47, 80, 72, 0.1)
    line-height: 145%
    font-size: 60px
    font-weight: 900

  h3
    margin: 0 0 10px
    color: #2A2D28
    font-weight: bold

  .box-text
    color: #626262
    max-width: 245px

.documents
  position: relative
  overflow: hidden
  background: #196250

  h2
    margin: 0 0 40px


.documents-image
  position: relative
  z-index: 1
  max-width: 650px
  min-width: 650px
  float: right
  margin: 0 -38px 0 0
  @include d-flex

  &:before, &:after
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    z-index: -1

  &:before
    width: 707px
    height: 707px
    background: url("../img/decor-circle.svg") no-repeat center
      size: 100%

  &:after
    background: #80FF00
    width: 444px
    height: 444px
    filter: blur(310px)
    mix-blend-mode: screen

.documents-content
  padding: 0 0 0 39px
  position: relative
  z-index: 2

  .box-text
    max-width: 485px


.list-checkbox
  li
    display: flex
    align-items: center
    margin: 0 0 10px

    &:last-child
      margin: 0

    &:before
      content: ''
      @include d-flex
      width: 30px
      height: 30px
      min-width: 30px
      margin: 0 20px 0 0
      background: url("../img/checked.svg") no-repeat center
        size: 100%

//benefit
.benefit
  padding: 80px 0 40px

  h2
    margin: 0 auto 38px

.benefit-table
  position: relative
  overflow: hidden
  display: flex
  align-items: flex-start
  padding: 0 0 40px

.benefit-table-row
  flex: 1
  padding: 72px 0 0

.benefit-table-col
  flex: 1
  text-align: center

  ul
    li
      justify-content: center

  .logo-company
    max-width: 173px
    margin: 0 auto

  &__head
    margin: 0 auto 10px
    min-height: 34px

  h3
    color: #2F5048
    font-size: 20px
    font-weight: 900
    text-align: center

  .benefit-table-list
    li
      &:before
        display: none

.benefit-table-list
  line-height: 20px

  > li
    padding: 10px 20px
    border-radius: 6px
    position: relative
    z-index: 1
    min-height: 46px
    display: flex
    align-items: center
    flex-wrap: wrap

    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      height: 100%
      width: 100%
      min-width: 2000px
      border-radius: 6px
      z-index: -1

    &:nth-child(odd)
      &:before
        background: #F4F7FB


.priority-box
  padding: 28px 39px 35px
  background: rgba(255, 255, 255, 0.01)
  max-width: 250px
  width: 100%
  margin: 0 auto
  box-shadow: 0px 4px 30px rgba(0, 64, 122, 0.12)
  border: 1px solid #DFE3E8
    radius: 6px
  position: relative
  z-index: 1
  overflow: hidden

.no-priority-box
  padding: 28px 39px 35px
  max-width: 250px
  width: 100%
  margin: 0 auto


.list-star
  display: flex
  justify-content: center
  align-items: flex-start
  margin: 0 auto

  li
    margin: 0 8px 0 0
    @include d-flex
    width: 26px
    height: 26px

    img
      width: 100%

    &:last-child
      margin: 0

//about
.about
  position: relative
  overflow: hidden
  z-index: 1

  h2
    margin: 0 0 20px

  .box-text
    color: #000

  .container
    position: relative

    &:before
      content: ''
      position: absolute
      width: 707px
      height: 707px
      top: 50%
      transform: translate(0, -50%)
      right: -217px
      background: url("../img/decor-circle-grey.svg") no-repeat center
        size: 100%
      z-index: -1

.about-box
  background: #fff
  width: 100%
  height: 100%
  box-shadow: 0px 4px 30px rgba(0, 64, 122, 0.12)
  border: 1px solid #DFE3E8
    radius: 6px
  padding: 20px 25px
  line-height: 145%

  &__icon
    display: flex
    align-items: center
    margin: 0 auto 8px

.about-advantages
  .col-12
    padding: 0 5px

.callback-v3
  .form-callback
    justify-content: center

    label
      max-width: 250px


//category-cars
.category-cars
  padding: 80px 0 60px

  h2
    margin: 0 0 40px

.category-cars-box
  width: 100%
  height: 300px
  position: relative
  overflow: hidden
  color: #2A2D28
  font-size: 18px
  z-index: 1
  filter: drop-shadow(0px 4px 30px rgba(0, 64, 122, 0.12))
  border: 1px solid #DFE3E8
    radius: 6px
  background: #fff
  padding: 40px 30px

  &:hover
    background: #8FBA44
    color: #2A2D28

  &__img
    position: absolute
    bottom: 0
    right: 0
    z-index: -1

  &__text
    max-width: 180px
    display: block


//car-leasing
.advantages-box-leasing
  padding: 23px 30px

  .advantages-box__icon
    width: 60px
    height: 60px
    min-width: 60px

  .advantages-box__body
    width: calc(100% - 60px)
    padding: 0 0 0 20px


.interested
  h2
    margin: 0 auto 30px

.interested-card
  width: 100%
  height: 100%
  position: relative
  overflow: hidden
  color: #fff
  background: #196250 url("../img/interested-circle.svg") no-repeat center bottom
    size: 100%
  border-radius: 10px
  z-index: 1
  padding: 50px 18px 40px
  display: flex
  flex-direction: column
  text-align: center

  &__icon
    margin: 0 auto
    @include d-flex

  h3
    text-align: center
    font-size: 28px
    font-weight: 900
    margin: 30px auto 0

  .box-text
    margin: 10px auto auto

  .btn
    max-width: 178px
    width: 100%
    margin: 36px auto 0

  //&:before
  //  content: ''
  //  position: absolute
  //  z-index: -1
  //  bottom: -119px
  //  left: 50%
  //  transform: translate(-50%, 0)
  //  mix-blend-mode: screen
  //  filter: blur(135px)
  //  background: #80FF00
  //  width: 288px
  //  height: 288px

.blog
  padding: 0 0 60px

  h2
    margin: 0 0 30px

.list-rating
  margin: 0 0 20px
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap

  li
    margin: 0 4px 0 0
    width: 20px

.reviews-box-clients
  padding: 30px
  font-size: 16px

  .reviews-box__footer
    margin: 30px 0 0

  h4
    font-size: 16px

  .reviews-box__user
    padding: 0
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    color: #848484
    font-size: 16px

    .name
      font-weight: normal


.about-leasing
  padding: 90px 0 0

  &__image
    @include d-flex
    border-radius: 10px
    min-width: 850px
    overflow: hidden

  &__content
    width: 100%
    background: #fff
    position: relative
    z-index: 1
    box-shadow: 0 4px 30px rgba(0, 49, 95, 0.11)
    border: 1px solid #E1E4E8
      radius: 10px
    padding: 50px 40px 50px 60px

  h2
    font-size: 34px
    margin: 0 0 20px

  .box-text
    p
      margin: 0 0 20px

.steps-work
  h2
    margin: 0 auto 20px

  .subtitle
    font-weight: normal
    font-size: 18px
    margin: 0 auto 47px

.steps-work-images
  margin: 0 auto
  max-width: 348px
  width: 100%
  .slick-arrow
    background: transparent
    width: 17px
    height: 34px
    border: none
      radius: 0
    padding: 0
    svg
      stroke: $accent
      width: 100%
      height: 100%
    &:hover
      background: transparent


.steps-work-images__item
  margin: 0 auto
  display: none

  &.active
    @include d-flex

.steps-work-slider
  max-width: 677px
  width: 100%

.steps-work-item
  background: #fff
  width: 100%
  margin: 0 0 9px
  transition: .3s ease
  box-shadow: 0px 4px 30px rgba(0, 49, 95, 0.11)
  border: 1px solid #E1E4E8
    radius: 9px
  cursor: pointer
  padding: 0 30px
  display: flex
  align-items: center

  &__number
    color: rgba(25, 98, 80, 0.1)
    font-size: 110px
    font-weight: 800
    line-height: 145%
    min-width: 80px
    margin: 0 7px 0 0

  h3
    margin: 0 0 10px
    color: #2F5048
    font-size: 18px
    font-weight: 700

  &:hover
    border: 2px solid #8FBA44


.home-leasing
  .container
    padding: 40px 15px
  .main-slider__item-img
    max-width: 762px
    bottom: -40px
    right: 92px
  .main-content
    padding: 0


//car loan
.home-loan
  .main-slider__item-img
    max-width: 516px
    right: 305px
